---
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
import { getProjectsInOrder, getSiteSettings } from "../../sanity/api";
import CornerTopLeft from "../../components/cornerPieces/cornerTopLeft.astro";
import CornerTopRight from "../../components/cornerPieces/cornerTopRight.astro";
import CornerBottomLeft from "../../components/cornerPieces/cornerBottomLeft.astro";
import CornerBottomRight from "../../components/cornerPieces/cornerBottomRight.astro";
import Footer from "../../components/footer.astro";

const allProjectData = await getProjectsInOrder();
const settingsData = await getSiteSettings();

const data = allProjectData.projects;
---

<Layout data={settingsData}>
  <div class="project-grid__container">
    {
      data.map((data, i) => {
        const className =
          i % 5 === 0
            ? "project-entry__double-column"
            : "project-entry__wrapper";
        return (
          <a
            class={className}
            style={{ color: "white" }}
            href={`/projects/${data.slug}`}
          >
            <video
              class="project-video-media hover-area"
              data-hover-text="View project"
              preload="metadata"
              loop="true"
              muted="true"
              playsinline
            >
              <source
                src={data.previewUrl}
                type="video/mp4"
                media="(min-width: 992px)"
              />
              {/* <source
                src={data.previewUrl}
                type="video/mp4"
                media="(min-width: 992px)"
              /> */}
              {/* <source
                src={
                  data.previewUrlMobile
                    ? data.previewUrlMobile
                    : data.previewUrl
                }
                type="video/mp4"
              /> */}
              Your browser does not support the video tag.
            </video>
            <Image
              src={data.thumbnail}
              alt=""
              inferSize
              class="project-image-media__mobile"
            />
            <div class="project-text">
              <span class="project-titleset">
                {data.clientArray !== null && <p>{data.clientArray[0]}</p>}
                <p>{data.title}</p>
              </span>
              <span class="project-titleset">
                <p>{data.creditsArray ? data.creditsArray[0] : null}</p>
                <p>{data.servicesArray ? data.servicesArray[0] : null}</p>
              </span>
            </div>
          </a>
        );
      })
    }
    <CornerTopLeft />
    <CornerTopRight />
    <CornerBottomLeft />
    <CornerBottomRight />
  </div>
  <Footer data={settingsData} />
</Layout>

<script>
  const videos = document.querySelectorAll(".project-video-media");

  videos.forEach((video) => {
    video.addEventListener("mouseenter", () => {
      video.play();
    });
    video.addEventListener("mouseleave", () => {
      video.pause();
    });
  });
</script>

<style>
  .project-grid__container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: calc(100% - 2rem);
    margin: 1rem auto;
    margin-bottom: 11rem;
  }

  .project-entry__wrapper {
    border-radius: 20px;
    overflow: hidden;
    flex: 1;
    box-sizing: border-box;
    flex-basis: 33.1%;
    height: 50vh;
    transition: 0.85s cubic-bezier(0.77, 0, 0.175, 1);
    position: relative;
  }

  .project-entry__double-column {
    height: 70vh;
    flex: 1 1 100%;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
  }

  .project-entry__wrapper:hover {
    transition: 0.85s cubic-bezier(0.77, 0, 0.175, 1);
    min-width: none;
    flex-grow: 500;
  }

  .project-video-media {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: none;
  }
  .project-text {
    position: absolute;
    bottom: 1.5vw;
    left: 1.5vw;
  }
  .project-titleset {
    display: block;
    color: rgba(var(--rgb-white), 0.5);
    padding-bottom: 0.5rem;
  }
  .project-titleset p:first-child {
    color: rgba(var(--rgb-white), 1);
  }
  .project-titleset:last-child {
    padding-bottom: 0;
  }

  @media (max-width: 1280px) {
    .project-grid__container {
      gap: 0.5rem;
      width: calc(100% - 1rem);
    }
  }

  .project-image-media__mobile {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
  }
  @media (max-width: 992px) {
    .project-image-media__mobile {
      display: block;
    }
    .project-video-media {
      display: none;
    }
    .project-grid__container {
      gap: 0.25rem;
    }
    .project-entry__wrapper {
      height: 70vw;
      border-radius: 6px;
    }
    .project-entry__double-column {
      border-radius: 6px;
      height: auto;
    }
  }
</style>
