---
import { Image } from "astro:assets";
const { data, expertiseData, logoVideo, email } = Astro.props;
---

<div class="team__wrapper">
  <div class="team__container">
    {
      data.map((member, i) => {
        return (
          <div class="team-entry" id="team-entry" data-index={i}>
            <div class="member-name">
              <p>{member.name}</p>
            </div>
            <div class="member-title">
              <p>{member.title}</p>
            </div>
            <div class="member-image__wrapper">
              <Image
                class="member-image"
                src={member.portrait}
                width="270"
                height="130"
                quality="100"
                alt={`Portrait image of ${member.name}`}
              />
            </div>
          </div>
        );
      })
    }
    <a
      href=`mailto:${email}`
      class="team-entry mobile-team-entry"
      id="team-entry"
    >
      <div class="member-name">
        <p>Work with WOE</p>
      </div>
      <div class="member-title">
        <p>{email}</p>
      </div>
    </a>
  </div>
  <div class="team-expertise">
    <p>Expertise</p>
    <ul class="expertise-list">
      {expertiseData.map((item) => <li>{item}</li>)}
    </ul>
  </div>
  <!-- <div class="blend-wrapper">
    <video class="blend-video" playsinline muted autoplay loop src={logoVideo}>
    </video>
  </div> -->
</div>

<style lang="scss" lang="scss">
  .blend-wrapper {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: lighten;
    -webkit-mix-blend-mode: lighten;
    background-blend-mode: lighten;
    user-select: none;
    pointer-events: none;
    aspect-ratio: 800/544;
    max-width: 80vw;
  }
  .blend-video {
    width: 100%;
    height: 100%;
  }
  .team__wrapper {
    z-index: 2;
    // mix-blend-mode: lighten;
    // -webkit-mix-blend-mode: lighten;
    width: var(--inner-width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
  }
  .team-expertise {
    width: 185px;
    color: var(--white);
    & ul {
      list-style: none;
      padding-left: 0;
      color: rgba(var(--rgb-white), 0.5);
    }
  }
  .team__container {
    flex: 2;
    display: block;
    position: relative;
    z-index: 2;
    width: 100%;
  }
  .team-entry {
    width: 100%;
    display: grid;
    z-index: 4;
    position: relative;
    grid-template-columns: 1fr 2fr 1fr;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
  }
  .team-entry:before {
    position: absolute;
    left: 0;
    bottom: 1.5rem;
    content: "";
    height: 1px;
    width: 0%;
    transition: all 0.36s ease;
    background: rgba(var(--rgb-white), 0.15);
  }
  .team-entry:hover:before {
    content: "";
    height: 1px;
    width: 74.5%;
    background: rgba(var(--rgb-white), 1);
  }
  .team-entry:hover {
    & .member-image {
      clip-path: inset(0% 0% 0% 0%);
      opacity: 1;
    }
  }
  .member-name {
    cursor: default;
    min-width: max(200px, 25vw);
    color: var(--white);
  }
  .member-title {
    cursor: default;
    color: rgba(var(--rgb-white), 0.5);
  }
  .member-image__wrapper {
    position: relative;
    z-index: 10;
  }
  .member-image {
    opacity: 0;
    clip-path: inset(100% 0% 0% 0%);
    transition: 0.36s all ease;
    border-radius: 5px;
    position: absolute;
    top: -60%;
    aspect-ratio: 270/130;
    width: auto;
    height: 130px;
  }

  .mobile-team-entry {
    display: none;
    text-decoration: none;
  }
  @media (max-width: 1280px) {
    .blend-video {
      z-index: 0;
      position: absolute;
      top: -25%;
      left: 50%;
      transform: translate(-50%, -50%);
      mix-blend-mode: lighten;
      user-select: none;
      pointer-events: none;
      aspect-ratio: 800/544;
      max-width: 80vw;
    }
    .mobile-team-entry {
      display: block;
    }
    .team__wrapper {
      flex-direction: column;
      align-items: flex-start;
    }
    .team__container {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 0.5rem;
    }
    .team-entry {
      display: flex;
      flex-direction: column;
      padding-bottom: 0;
      width: 90%;
    }
    .member-name {
      min-width: unset;
      p {
        font-size: 15px;
      }
    }
    .team-entry:before {
      display: none;
    }
    .member-image__wrapper {
      display: none;
    }
    .team-expertise {
      padding-top: 4rem;
      width: 100%;
    }
    .expertise-list {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>
