---
import { Image } from "astro:assets";
import teamSample from "../assets/team-sample.png";
const { data, expertiseData } = Astro.props;
---

<div class="team__wrapper">
  <div class="team__container">
    {
      data.map((member, i) => {
        return (
          <div class="team-entry" id="team-entry" data-index={i}>
            <div class="member-name">
              <p>{member.name}</p>
            </div>
            <div class="member-title">
              <p>{member.title}</p>
            </div>
            <div class="member-image__wrapper">
              <Image
                class="member-image"
                src={teamSample}
                width="270"
                height="130"
                alt={`Portrait image of ${member.name}`}
              />
            </div>
          </div>
        );
      })
    }
  </div>
  <div class="team-expertise">
    <p>Expertise</p>
    <ul>
      {expertiseData.map((item) => <li>{item}</li>)}
    </ul>
  </div>
</div>

<style>
  .team__wrapper {
    width: var(--inner-width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
  }
  .team-expertise {
    width: 200px;
    color: var(--white);
    & ul {
      list-style: none;
      padding-left: 0;
      color: rgba(var(--rgb-white), 0.5);
    }
  }
  .team__container {
    flex: 1;
    display: block;
  }
  .team-entry {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 2fr 1fr;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
  }
  .team-entry:before {
    position: absolute;
    left: 0;
    bottom: 1.5rem;
    content: "";
    height: 1px;
    width: 0%;
    transition: all 0.36s ease;
    background: rgba(var(--rgb-white), 0.15);
  }
  .team-entry:hover:before {
    content: "";
    height: 1px;
    width: 74.5%;
    background: rgba(var(--rgb-white), 1);
  }
  .team-entry:hover {
    & .member-image {
      clip-path: inset(0% 0% 0% 0%);
      opacity: 1;
    }
  }
  .member-name {
    cursor: default;
    min-width: max(200px, 25vw);
    color: var(--white);
  }
  .member-title {
    cursor: default;
    color: rgba(var(--rgb-white), 0.5);
  }
  .member-image__wrapper {
  }
  .member-image {
    opacity: 0;
    clip-path: inset(100% 0% 0% 0%);
    transition: 0.36s all ease;
    position: absolute;
    top: -60%;
    aspect-ratio: 270/130;
    width: auto;
    height: 130px;
  }

  @media (max-width: 1280px) {
    .team__wrapper {
      flex-direction: column;
      align-items: flex-start;
    }
    .team__container {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    .team-entry {
      display: flex;
      flex-direction: column;
      padding-bottom: 0;
      width: 80%;
    }
    .team-entry:before {
      display: none;
    }
    .member-image__wrapper {
      display: none;
    }
    .team-expertise {
      padding-top: 4rem;
    }
  }
</style>
